/*DOCTYPE SNIFFING??*/

p {
   color: #000;
   font:13px verdana;
}

h2 {
	font-size: 18px;
  margin-left: 25px;
  line-height: 0px;
}

h3 {
  line-height: 0px;
}

body {
   color: #000;
   font:13px verdana;
   background: url(/images/bg-white-paper.jpg);
   margin: 0px;
   padding: 0px;
}

table {
   border-collapse:collapse;
}

#Footer_SocialBoxes {
  width:360px;
  position: relative;
  height: 80px;
  margin: auto;
}

td {
   padding: 5px;
}

input {
   padding: 4px;
}

.button_orange {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B3D652), to(#7CB42B));
    background-image: -webkit-linear-gradient(#B3D652,#7CB42B);
    background-image: -moz-linear-gradient(#B3D652,#7CB42B);
    background-image: -o-linear-gradient(#B3D652,#7CB42B);
    background-image: -ms-linear-gradient(#B3D652,#7CB42B);
    background-image: linear-gradient(#B3D652,#7CB42B);  
border-top: 1px solid #83A91C;
border-left: 1px solid #97C53D;
border-right: 1px solid #83A91C;
border-bottom: 1px solid #446E0B;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px black;
    cursor: pointer;
}

.button_orange:hover {
    color: #BF9925;
    text-shadow: 0 1px 1px white;
}

.button_txt_large {
  font-size: 28px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.button_txt_small {
  font-size: 13px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.highlight:hover {
  background-color: #E6E8FA;
}

#outline {
  width: 900px;
  min-height: 830px;
  position:relative;
  margin: auto;
  margin-bottom: 20px;
  padding:0px;
}

#top {
  background: #00334e;
  background: url(/images/bg-top.jpg);
  -moz-box-shadow: 2px 2px 5px 0 #333;
  -webkit-box-shadow: 2px 2px 5px 0 #333;
  box-shadow: 2px 2px 5px 0 #333;
}

#logo {
  padding-top: 20px;
  padding-left: 20px;
}
#bottom{
  text-align: center;
  margin-left: 285px;
  margin-top: 30px;
  text-decoration:none;
  color:#FF0000;

}

#explanation {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom:20px;
  color: white;
  height: 100px;
  line-height: 20px;
}

#signup {
  margin: auto;
  height: 480px;
  margin-top: 20px;
  background: white;
  background: url(/images/signup-bg.jpg);
  -moz-box-shadow: 2px 2px 7px 0 #333;
  -webkit-box-shadow: 2px 2px 7px 0 #333;
  box-shadow: 2px 2px 7px 0 #333;
  border: 3px solid red;
}

#signup-top {
  background: url(/images/signup-top-bg.jpg);
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;
}

#map {
  position: relative;
  width: 325px;
  height: 380px;
  padding-top: 25px;
  padding-left: 40px;
}

#manhattan{
  background: url(/images/manhattan.png) no-repeat;
  width: 160px;
}

#area1 {
  height: 64px;
  width: 88px;
  padding-left: 52px;
  padding-top: 25px;
  cursor: pointer;
}

#area2 {
  height: 48px;
  width: 45px;
  padding-left: 20px;
  padding-top: 15px;
  cursor: pointer;
}

#area3 {
  float: right;
  height: 48px;
  width: 80px;
  padding-left: 15px;
  padding-top: 15px;
  cursor: pointer;
}

#area4 {
  height: 39px;
  width: 108px;
  padding-left: 52px;
  padding-top: 12px;
  cursor: pointer;
}

#area5 {
  height: 54px;
  width: 40px;
  padding-left: 40px;
  padding-top: 20px;
  cursor: pointer;
}

#area6 {
  float: right;
  height: 54px;
  width: 60px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}

#area7 {
  height: 70px;
  width: 90px;
  padding-left: 70px;
  padding-top: 5px;
  cursor: pointer;
}

#map-explanation {
  position: absolute;
  width: 160px;
  height: 150px;
  right: 20px;
  top: 125px;
}

.explanation-title {
  font-weight: bold;
  line-height: 0px;
}

.explanation-content {
  font-style: italic;
  margin: 0px;
}

#delete-area {
  position: absolute;
}

#add-area {
  position: absolute;
}

#active-area {
  position: absolute;
}

#inactive-area {
  position: absolute;
}

#neigborhood-none {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-1 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-2 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-3 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-4 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-5 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-6 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#neigborhood-7 {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

.invisible {
  visibility: hidden;
}

.visbile {
  visibility: visible;
}


#signup_right {
  position: relative;
  padding-top: 10px;
  width: 520px;
  height: 300px;
}

#foodpref {
  padding-left: 13px;
  padding-top: 15px;
}

#food-explanation {
  position: relative;
  height: 75px;
  left: 25px;
  width: 160px;
}

#contact {
	width: 450px;
	padding-top: 25px;
	padding-left: 13px;
}

.row {
	padding:20px 20px 40px 16px; 
	max-width: 800px;
	position: relative;
}
 
.span5 {
	float:left;
	width:650px;
	margin-left:0;
	position: left;
	margin-top: 5px;
}

.uselocation{
	margin-bottom: 3px;
}


li.testimonial {
	min-height:115px
}