{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<p style="margin-left:10px; font-style:Arial; font-size:16px">Your Dinner Deals - About Us</p>
<p style="margin-left:5px;">The service is designed to help you find the best deals that suit your tastes. Stop wasting your time chasing the right deal, it's delivered at your door thanks to our service

</br>
</br>Your Dinner Deals is edited by xxxx

</br>
</br>
References

</br>
</br>
We always look for the best talents. If you want to join YDD write to jobs@yourdinnerdeals.com</p>
{% endblock %}
{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
