{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<p style="margin-left:10px; font-style:Arial; font-size:16px">Your Dinner Deals - About Us</p>
<table>

<tr>
	<td style="margin:5px text-align:justify;">
<p style="margin:5px text-align:justify;">
Your Dinner Deals has been created by two young web entrepreneurs. They are always talking passionately about new products to be more efficient and love sharing great dinners together. 
</br>
The idea of Your Dinner Deals came naturaly realizing they were spending way too much time looking for nice new places at a discount on all the different services available.<br/>
<br/>
YDD is designed to save you a lot of time and send you directly the best deals that fits your tastes.
<br/>
From the restaurants that have the best ratings in the different services available : Yelp, Foursquare, TripAdvisor... we handpick the ones that currently have a good discount you can enjoy.
<br/>
	</td>

</tr>
<tr>

</tr>
</table>
</br>
</br>
</br>
<p style="margin-left:10px; font-style:Arial; font-size:14px">
Your Dinner Deals is a startup currently working hard to build its product and expand its service to many other cities. <br/>
We always look for the best talents. If you want to join YDD write to jobs@yourdinnerdeals.com</p>
{% endblock %}
{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
