<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>Your Dinner Deals</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35584757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body> 
<div id="logo" ><a href="/"><img src="/images/logo3.png" style="border:0px; padding-left: 10px" height="90px" /></a></div>


{% for coupon in coupons %}
<form method="get" action="/search/request" >
<table>
<tr>
  <td>{% if coupon.yelpid_matched %}CHECKED{% endif %}</td>
  <td><input type="checkbox" name="partner" style="visibility:hidden" value="restaurantcom" checked><input type="checkbox" name="id" style="visibility:hidden" value="{{ coupon.key.name }}" checked><input type="checkbox" name="term" style="visibility:hidden" value="{{ coupon.restaurant_name }}" checked>{{ coupon.restaurant_name }}</td>
  <td><input type="radio" name="location" value="{{ coupon.address_street }}, {{ coupon.address_city }}" checked>{{ coupon.address_street }}, {{ coupon.address_city }}</td>
  <td><input type="radio" name="location" value="{{ coupon.address_city }}">{{ coupon.address_city }}</td>
  <td><input type="radio" name="location" value="{{ coupon.address_street }}">{{ coupon.address_street }}</td>
  <td><button type="submit" >Check Yelp</button></td>
</tr>
</table>
</form>
{% endfor %}






</body> 
</html>