<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>Your Dinner Deals</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35584757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body> 
<div id="logo" ><a href="/"><img src="/images/logo3.png" style="border:0px; padding-left: 10px" height="90px" /></a></div>

<form action="/admin/overview" method="get" style="margin-left:75px"><h3 style="margin-bottom: 5px"><span style="font-size:12pt">Filter: <span style="font-weight:normal; margin-left:20px">Matched</span> <select name="matched" id="matched" style="font-size:11pt">
         <option value="">All</option>
         <option value="True" {% if match_filter == 'True' %}selected{% endif %}>True</option>
         <option value="False" {% if match_filter == 'False' %}selected{% endif %}>False</option>
       </select></span>
       <input type="checkbox" id="group" name="group" value="{{ group }}" style="visibility:hidden" checked>
       <input type="submit" value="Refresh"><span style="margin-left:80px">{{ coupons.count }} of {{ total_coupons }} Coupons</span></h3>

       <a href="/admin/overview?group=9">#</a> 
       <a href="/admin/overview?group=a">a</a> 
       <a href="/admin/overview?group=b">b</a> 
       <a href="/admin/overview?group=c">c</a> 
       <a href="/admin/overview?group=d">d</a> 
       <a href="/admin/overview?group=e">e</a> 
       <a href="/admin/overview?group=f">f</a> 
       <a href="/admin/overview?group=g">g</a> 
       <a href="/admin/overview?group=h">h</a> 
       <a href="/admin/overview?group=i">i</a> 
       <a href="/admin/overview?group=j">j</a> 
       <a href="/admin/overview?group=k">k</a> 
       <a href="/admin/overview?group=l">l</a> 
       <a href="/admin/overview?group=m">m</a> 
       <a href="/admin/overview?group=n">n</a> 
       <a href="/admin/overview?group=o">o</a> 
       <a href="/admin/overview?group=p">p</a> 
       <a href="/admin/overview?group=q">q</a> 
       <a href="/admin/overview?group=r">r</a> 
       <a href="/admin/overview?group=s">s</a> 
       <a href="/admin/overview?group=t">t</a> 
       <a href="/admin/overview?group=u">u</a> 
       <a href="/admin/overview?group=v">v</a> 
       <a href="/admin/overview?group=w">w</a> 
       <a href="/admin/overview?group=x">x</a> 
       <a href="/admin/overview?group=y">y</a> 
       <a href="/admin/overview?group=z">z</a>

       <br/><hr/></form>



{% for coupon in coupons %}
<table>
<tr>
  <td><form method="post" action="/search/request" target="_blank" ><input type="checkbox" name="partner" style="visibility:hidden" value="restaurantcom" checked><input type="checkbox" name="id" style="visibility:hidden" value="{{ coupon.key.name }}" checked><input type="checkbox" name="term" style="visibility:hidden" value="{{ coupon.restaurant_name }}" checked>
  {% if coupon.yelpid_matched %}<img src="/images/check.png" height="20px"/>{% endif %}{{ coupon.restaurant_name }} {{ coupon.value }}
  <input type="radio" name="location" value="{{ coupon.address_street }}, {{ coupon.address_city }}" checked>{{ coupon.address_street }}, {{ coupon.address_city }} <input type="radio" name="location" value="{{ coupon.address_city }}">{{ coupon.address_city }} <button type="submit" >Check Yelp</button></form></td>
  <td>{% if coupon.yelpid %}{{ coupon.yelpid }}{% else %}<form method="post" action="/admin/link" target="_blank" ><input type="checkbox" name="coupon_id" style="visibility:hidden" value="{{ coupon.key.name }}" checked><input type="text" name="yelp_id" id="yelp_id" size="35" style="font-size:10pt" placeholder="Manually Link an Existing RestaurantID"><button type="submit" >Link</button></form>{% endif %}</td>
</tr>
</table>

{% endfor %}






</body> 
</html>