<!--Fix background for all screen sizes -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>Your Dinner Deals</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35584757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% block head %}
{% endblock %}
</head>

<body> 
<div id="outline">

<div id="sidepicture">
<div id="top">
<div id="logo" ><a href="/"><img src="images/logo2.png" style="border:0px" /></a></div>
      <div id="explanation">
      <table>
            <tr>
                <td style="text-align:center" ><img src="images/two.png" style="margin-right:10px"/></td>
                <td width="270px"><h3>Discover new restaurants</h3>* Weekly personalized recommendations<br/>* Only restaurants with good reviews</td>
                <td style="text-align:right" width="120px"><img src="images/three.png" style="margin-right:10px"/></td>
                <td width="270px"><h3>Save Money</h3>* Discount coupon included<br/>* Affordable restaurants only</td>
            </tr>
        </table>
    </div>
</div>

{% block content %}
{% endblock %}
{% block testimonials %}
{% endblock %}
{% block bottommenu %}
{% endblock %}
</div>
</div>
</body> 
</html>