<!--Fix background for all screen sizes -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>Your Dinner Deals</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35584757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


{% block head %}
{% endblock %}
</head>

<body> 
<div id="outline">

<div id="sidepicture">
<div id="top">
      <div id="explanation">
      <table>
            <tr>
                <td><img src="images/personal.png"/></td>
                <td>PERSONALIZED<br/>RECOMMENDATIONS</td>
                <td><img src="images/redstar.png" style="padding-left: 20px;"/></td>
                <td>BEST REVIEWED<br/>RESTAURANTS</td>
                <td><img src="images/coupon.png" style="padding-left: 20px;"/></td>
                <td>COUPON<br/>INCLUDED</td>
            </tr>
        </table>
        <div id="menu">
        <br/>
          <table>
            <tr>
            <td width="120px"><a href="/signup" class="menu-link">Sign Up</a></td>            
            <td width="120px"><a href="/" class="menu-link">How it Works</a></td>
            </tr>
          </table>
        </div>
      </div>

    <div id="logo" ><a href="/"><img src="images/logo3.png" style="border:0px; padding-left: 10px" height="90px" /></a></div>

</div>

<div id="main_content">
{% block content %}
{% endblock %}
</div>

<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms &amp; Privacy</a>
        </td>
    </tr>
</table>
</div>
</div>
</div>
</body> 
</html>