{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Discover new restaurants at a discount!</h1>
</br>
<p style="margin: 5px text-align:justify;">
When you are tired wasting your time looking for the best restaurant on different services for your dinner this weekend, just trust Your Dinner Deals to handpick it for you. 

</br>
</br>
1. Just tell us a bit about yourself. We only ask for your favorite areas and your food tastes so that we make sure our suggestions are made for you and avoid you the usual long list. Only what's necessary!
</br>
</br>
</p>
2. Based on your profile, we'll send you every week the best deal so that you can enjoy a nice dinner. We check all different discount services to find the best offer for you from restaurants that have the best reviews on various services. Only the best restaurant at a discount!
<table>

<tr>
	<td style="margin:5px text-align:justify;">
<p style="margin:5px text-align:justify;">
Your Dinner Deals has been created by two young web entrepreneurs. They are always talking passionately about new products to be more efficient and love sharing great dinners together. 
</br>
The idea of Your Dinner Deals came naturaly realizing they were spending way too much time looking for nice new places at a discount on all the different services available.<br/>
<br/>
YDD is designed to save you a lot of time and send you directly the best deals that fits your tastes.
<br/>
From the restaurants that have the best ratings in the different services available : Yelp, Foursquare, TripAdvisor... we handpick the ones that currently have a good discount you can enjoy.
<br/>
	</td>
	<td>
		<img src="../images/restaurant.jpg" style="width: 300px height: 250px;">
	</td>
</tr>
<tr>
    <td>
    <a href="../"><input value="START" class="button_orange" style="margin-left:130px"/></a>
</td>
</tr>
</table>
</br>
</br>
</br>
Your Dinner Deals is a startup currently working hard to build its product and expand its service to many other cities. <br/>
We always look for the best talents. If you want to join YDD write to jobs@yourdinnerdeals.com</p>


            <br/><h2>What are our users saying?</h2>
            <table style="margin-left:25px; border:0; text-align:justify; width:750px;">
                <tr style="margin-right:10px">
                    <td style="width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td  style="width:385px; text-align:justify; span:20px; margin:10px;">“Your Dinner Deals just saves me so much time, not having to check all different kind of services and saves me also money, thank you!”</td>
                    <td width=60><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width=:385px; text-align:justify; span:20px; margin:10px;">“I'm using the service every week to get a good restaurant I can afford. Always nice to discover new good places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td style=" width:385px; text-align:justify; span:20px; margin:10px;" >“I discover great new places in areas I like going out, always at a discount”</td>
                    <td width=100><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width:385px; text-align:justify; span:20px; margin:10px;" >“I'm going out for dinner much more often thanks to great recommendations, never disapointed by the venues”</td>
                </tr>
            </table>
{% endblock %}