{% extends 'base.html' %} 
{% block head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    stLight.options({
        publisher: "efd45478-9c7f-4291-81f6-bf6e13a7938b",
        onhover: false
    });
</script>
{% endblock %}
{% block content %}

<img style="position:absolute; margin-left: -32px; margin-top: -20px;" src="../images/dinner9.png">
    <div class="home_opacity"><!-- Add transparent layout-->
    </div>
    <div class="home_info"><!-- Add text on picture-->
        <div class="title_home">
            <h2t>Discover restaurants </br>at a discount!</h2t>
            <p><h3t>Your Dinner Deals sends you a weekly discount coupon for one of the best reviewed restaurants in Manhattan that fits your profile.
            </br></br>
            Your Dinner Deals handpicks it for you, at a discount!</p></h3t>
            </br><a href="/signup"><input value="TRY NOW" class="button_green_home"/></a>
        </div>
    </div>

</br>
<p style="position:relative padding-top:45px text-align:justify;">
<p style="textfont-size:20px;"><strong>Register on Your Dinner Deals in just 3 steps</strong></p>
</br>
<table>
    <tr>
        <td><p style="textfont-size:18px; text-decoration:underline;"><strong>1. Just tell create a personal profile</strong></p> <p style="text-align: justify; font-size:14px;"> Select your favorite areas to receive recommendations only for places you'd actually go. You just need an email address and making a profile on Your Dinner Deals    is for free!</p></td>
        <td><p style="textfont-size:18px; text-decoration:underline;"><strong>2. Receive every week a coupon for a top reviewed restaurant in your favorite areas</strong></p><p style="text-align: justify;">Stop wasting your time reading all the different reviews to find the right restaurant. With a single click you can let us know which you do or don't like, allowing the syste, to  send you ,ore accurate recommendations every week.</td>
        <td><p style="textfont-size:18px; text-decoration:underline;"><strong>3. Enjoy your great dinner</strong></p>
        <p style="text-align: justify;">You confirm your coupon in just few clicks. Often you will also be able to make a direct reservation or even have the food delivered. Invite a friend to share the dinner and have a wonderful evening at a fair price.</p></td>
    </tr>
</table>

</br>
</br>

<div style="margin-top:40px;">
    <img src="../images/Line.png">
    <table>
        <td style="width:460px;"> You have feedback or want to know more about Your Dinner Deals, just email us at <a href="contact@yourdinnerdeals.com">contact@yourdinnerdeals.com</a></td>
        <td style="padding-left:50px;">
<span class='st_facebook_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Facebook'></span>
<span class='st_twitter_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" st_via="" displayText='Tweet'></span>
<span class='st_linkedin_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='LinkedIn'></span>
<span class='st_pinterest_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Pinterest'></span>
<span class='st_googleplus_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Google +'></span>
<span class='st_email_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Email'></span>
</td>
    </table>

</div>



            <br/><h2>What are our users saying?</h2>
            <table style="margin-left:25px; border:0; text-align:justify; width:820px;">
                <tr style="margin-right:10px">
                    <td style="width:140px;"><img src="../images/test2.png" alt="Testimonial Tom" >Ben, Tribeca </td>
                    <td  style="width:400px; text-align:justify; span:20px; margin:10px;">“Your Dinner Deals just saves me so much time, not having to check all different reviews and saves me also money, thank you!”</td>
                    <td style="width:140px;"><img src="../images/test4.png" alt="Testimonial Tom">Sasha, Harlem</td>
                    <td style="width=:400px; text-align:justify; span:20px; margin:10px;">“I'm using the service every week to get a good restaurant I can afford. Always nice to discover new good places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:140px;"><img src="../images/test6.png" alt="Testimonial Tom" >Joey, Tribeca </td>
                    <td style=" width:400px; text-align:justify; span:20px; margin:10px;" >“I discover great new places in areas I like going out, always at a discount”</td>
                    <td style="margin-left:20px; width:140px;"><img src="../images/test7.png" alt="Testimonial Tom">Lucie, Midtown</td>
                    <td style="width:400px; text-align:justify; span:20px; margin:10px;" >“I'm going out for dinner much more often, never disapointed by the venues”</td>
                </tr>
            </table>
{% endblock %}