{% extends 'base.html' %} 
{% block head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    stLight.options({
        publisher: "efd45478-9c7f-4291-81f6-bf6e13a7938b",
        onhover: false
    });
</script>
{% endblock %}
{% block content %}

<img style="position:absolute;" src="../images/dinner4.png">
    <div class="home_opacity">
    </div>
    <div class="home_info">
        <div class="title_home">
            <strong>Discover restaurants </br>at a discount!</br></strong>
            <p style="padding:5px font-size:16px;">Stop wasting your time reading all the different reviews to find the right restaurant. </br></br>
                Your Dinner Deals handpicks it for you, at a discount!</p>
            </br>
            </br><a href="/signup"><input value="TRY NOW" class="button_orange_home"/></a>
        </div>
    </div>

</br>
<p style="position:relative padding-top:45px text-align:justify;">
<p style="textfont-size:20px;"><strong>Register on Your Dinner Deals in just 3 steps</strong></p>
</br>
<p style="textfont-size:18px; text-decoration:underline;">1. Just tell us a bit about yourself.</p> We only ask for your favorite areas and your food tastes so that we make sure our suggestions are made for you and avoid you the usual long list. Only what's necessary!
</br>
</br>

<p style="textfont-size:18px; text-decoration:underline;">2. Receive every week the best deal selected for you</p>We check all different discount services to find the best offer for you from restaurants that have the best reviews on various services. Only the best restaurant at a discount!
</br>
</br>

<p style="textfont-size:18px; text-decoration:underline;">3. Book your table directly</p>
Book a table for your dinner and share the good deal with your friends. If the recommendation does not suit your taste, just tell us and we will send you a new one more relevant to you.
</p>

<div style="margin-top:40px;">
    <img src="../images/Line.png">
    <table>
        <td style="width:460px;"> You have feedback or want to know more about the service, just email us at <a href="contact@yourdinnerdeals.com">contact@yourdinnerdeals.com</a></td>
        <td style="padding-left:50px;">
<span class='st_facebook_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Facebook'></span>
<span class='st_twitter_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" st_via="" displayText='Tweet'></span>
<span class='st_linkedin_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='LinkedIn'></span>
<span class='st_pinterest_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Pinterest'></span>
<span class='st_googleplus_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Google +'></span>
<span class='st_email_large' st_url="http://www.yourdinnerdeals.com" st_title="Your Dinner Deals - Discover new restaurants at a discount!" st_image="http://www.yourdinnerdeals.com/images/logo3.png" displayText='Email'></span>
</td>
    </table>

</div>



            <br/><h2>What are our users saying?</h2>
            <table style="margin-left:25px; border:0; text-align:justify; width:820px;">
                <tr style="margin-right:10px">
                    <td style="width:140px;"><img src="../images/test2.png" alt="Testimonial Tom" >Ben, Tribeca </td>
                    <td  style="width:400px; text-align:justify; span:20px; margin:10px;">“Your Dinner Deals just saves me so much time, not having to check all different reviews and saves me also money, thank you!”</td>
                    <td style="width:140px;"><img src="../images/test4.png" alt="Testimonial Tom">Sasha, Harlem</td>
                    <td style="width=:400px; text-align:justify; span:20px; margin:10px;">“I'm using the service every week to get a good restaurant I can afford. Always nice to discover new good places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:140px;"><img src="../images/test6.png" alt="Testimonial Tom" >Joey, Tribeca </td>
                    <td style=" width:400px; text-align:justify; span:20px; margin:10px;" >“I discover great new places in areas I like going out, always at a discount”</td>
                    <td style="margin-left:20px; width:140px;"><img src="../images/test7.png" alt="Testimonial Tom">Lucie, Midtown</td>
                    <td style="width:400px; text-align:justify; span:20px; margin:10px;" >“I'm going out for dinner much more often, never disapointed by the venues”</td>
                </tr>
            </table>
{% endblock %}