{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<p style="margin-left:10px; font-style:Arial; font-size:16px">Your Dinner Deals - Privacy</p>
<p style="margin-left:5px;">
The service is hosted on Google App Engine
</br>
</br>
The data your provide us are strictly used to offer you the best deals and not shared with any third party.
</p>
{% endblock %}
{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td><a href="aboutus">About Us<a>
        </td>
        <td><a href="privacy">Privacy</a>
        </td>
        <td><a href="terms">Terms</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}