<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#dee0e2">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#dee0e2;min-height:100%!important;width:100%!important">
                <tbody><tr>
                    <td align="center" valign="top" style="border-collapse:collapse;margin:0;padding:20px;border-top:0;min-height:100%!important;width:100%!important">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:1px solid #bbbbbb">
                            <tbody><tr>
                                <td align="center" valign="top" style="border-collapse:collapse">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-top:10px;padding-right:18px;padding-bottom:10px;padding-left:18px;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">A new restaurant to discover at a discount for you. </td>
                                            
                                            <td valign="top" width="180" style="padding-top:10px;padding-right:18px;padding-bottom:10px;padding-left:0;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:left">
                                                <a href="http://us2.campaign-archive1.com/?u=62b6e428c0d0f0945f9538016&amp;id=3ab8e63b66&amp;e=" style="color:#606060;font-weight:normal;text-decoration:underline;word-wrap:break-word!important" target="_blank">View this email in your browser</a>
                                            </td>
                                            
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse:collapse">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:0px;border-collapse:collapse">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center;border-collapse:collapse">


                                        <img align="center" alt="" src="http://gallery.mailchimp.com/62b6e428c0d0f0945f9538016/images/logo345e865.png" width="200" style="max-width:200px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none">


                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse:collapse">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding:9px 18px;font-size:14px;border-collapse:collapse;color:#505050;font-family:Helvetica;line-height:150%;text-align:left">

                            <strong>Hi {First Name}!</strong>
<div>
    Welcome to Your Dinner Deals. Here is your first recommendation based on the information your provided :<br>
    &nbsp;</div>

                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding:9px;border-collapse:collapse">


<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td valign="top" style="padding:0 9px;border-collapse:collapse">
            <table align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" style="border-collapse:collapse">


                        <img alt="" src="http://gallery.mailchimp.com/62b6e428c0d0f0945f9538016/images/Dinner3.jpg" width="264" style="max-width:840px;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;vertical-align:bottom">


                    </td>
                </tr>
            </tbody></table>
            <table align="left" border="0" cellpadding="0" cellspacing="0" width="264" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" style="font-weight:normal;line-height:100%;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:14px;text-align:left">
                        <strong>{{ restaurant.name }}</strong><br>
<br>
{% for coupon in restcom_coupon %}
<strong>{{ coupon.value }}</strong><br>
{% endfor %}
<br>
<br>
Category: 
{% for category in restaurant.categories %}{% if forloop.counter|divisibleby:2 %}{% if forloop.last %}{% else %}{% if forloop.counter > 0 %}{% if forloop.last %}{% else %}, {% endif %}{% endif %}{% endif %}{% else %}{{ category }}{% endif %}{% endfor %}<br>

District: 
{% for neighborhood in restaurant.address_neighborhoods %}
{{ neighborhood }}{% if forloop.counter > 0 %}{% if forloop.last %}{% else %}, {% endif %}{% endif %}
{% endfor %}<br>

Average rating: {{ restaurant.rating }} / 5<br>
<br>
<br>

                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse:collapse">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#f4f4f4;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td align="left" valign="top" style="border-collapse:collapse">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="293" style="border-collapse:collapse;width:293px">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;border-collapse:collapse" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#e49c30;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="color:#ffffff;font-family:Arial;font-size:14px;padding:8px;border-collapse:collapse">
                                <a title="Book Now" href="http://www.yourdinnerdeals.com" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:initial;color:#ffffff;font-family:Arial;font-size:14px;padding:8px;word-wrap:break-word!important" target="_blank">Book Now</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;border-collapse:collapse" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#e49c30;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="color:#ffffff;font-family:Arial;font-size:14px;padding:8px;border-collapse:collapse">
                                <a title="Order delivery" href="http://www.yourdinnerdeals.com" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:initial;color:#ffffff;font-family:Arial;font-size:14px;padding:8px;word-wrap:break-word!important" target="_blank">Order delivery</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="292" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">

                            <strong>RESTAURANT INFORMATION</strong><br>
<br>
Location: 329 Greenwich Street, New York NY 10013<br>
<br>
Type: Italian restaurant<br>
<br>
Contact: <a href="http://www.theitalianrestaurant.com" target="_blank">www.theitalianrestaurant.com</a>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                                    </tr>
                                                </tbody></table>
                                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="293" style="border-collapse:collapse;width:293px">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="292" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;border-collapse:collapse;color:#505050;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">

                            <u>Discount available until 1/19</u>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding:18px;border-collapse:collapse">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
                    <tbody><tr>
                        <td style="border-collapse:collapse">
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="border-collapse:collapse">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="292" style="border-collapse:collapse">
                    <tbody><tr>

                        <td valign="top" style="padding:9px 18px;font-size:13px;text-align:center;border-collapse:collapse;color:#505050;font-family:Helvetica;line-height:150%">

                            Let us know if you this offer doesn't fit your profile and will send you a better one!
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;border-collapse:collapse" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#999999;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="color:#ffffff;font-family:Arial;font-size:13px;padding:8px;border-collapse:collapse">
                                <a title="Not my Area" href="http://www.yourdinnerdeals.com" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:initial;color:#ffffff;font-family:Arial;font-size:13px;padding:8px;word-wrap:break-word!important" target="_blank">Not my Area</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;border-collapse:collapse" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#999999;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="color:#ffffff;font-family:Arial;font-size:13px;padding:8px;border-collapse:collapse">
                                <a title="Not my Taste" href="http://www.yourdinnerdeals.com" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:initial;color:#ffffff;font-family:Arial;font-size:13px;padding:8px;word-wrap:break-word!important" target="_blank">Not my Taste</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>