<!-- ADD REQUIRED FIELDS -->

{% extends 'base.html' %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>

$(function() {

    function showInfo (element) {
        $('div#neigborhood-none').attr('class', 'invisible');
        if($(element).attr('id') == 'area1') {
          $('div#neigborhood-1').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area2') {
          $('div#neigborhood-2').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area3') {
          $('div#neigborhood-3').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area4') {
          $('div#neigborhood-4').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area5') {
          $('div#neigborhood-5').attr('class', 'visible');
        } 
    }

    function hideInfo (element) {
        $('div#neigborhood-none').attr('class', 'visible');
        if($(element).attr('id') == 'area1') {
          $('div#neigborhood-1').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area2') {
          $('div#neigborhood-2').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area3') {
          $('div#neigborhood-3').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area4') {
          $('div#neigborhood-4').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area5') {
          $('div#neigborhood-5').attr('class', 'invisible');
        } 
    }    

    $("div[id^='area']").mouseenter(function() {
      if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find($('div#delete-area')).attr('class', 'visible');
        showInfo($(this));                     
      }
      else {
        $(this).find($('div#add-area')).attr('class', 'visible');
        showInfo($(this));
      }
    });

    $("div[id^='area']").mouseleave(function() {
     if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find($('div#delete-area')).attr('class', 'invisible');
        hideInfo($(this));
      }
      else {
        $(this).find($('div#add-area')).attr('class', 'invisible');
        hideInfo($(this));
      }
    });

    $("div[id^='area']").click(function() {
      if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find('.hiddenCheck').removeAttr('checked');
        $(this).find($('div#delete-area')).attr('class', 'invisible');
        $(this).find($('div#active-area')).attr('class', 'invisible');
        $(this).find($('div#inactive-area')).attr('class', 'visible');
        $(this).find($('div#add-area')).attr('class', 'visible');
      }
      else {
        $(this).find('.hiddenCheck').attr('checked', 'checked');
        $(this).find($('div#add-area')).attr('class', 'invisible');
        $(this).find($('div#active-area')).attr('class', 'visible');
        $(this).find($('div#inactive-area')).attr('class', 'invisible'); 
        $(this).find($('div#delete-area')).attr('class', 'visible');       
      }
    });

});
</script>
{% endblock %}

{% block content %}

    <div id="signup">
    <form method="post" action="/signup">
       <div id="signup-top"><h2>Sign up for your own personalized restaurant recommendations<h2></div>
       
       <div id="signup_right" style="float:right">
          <div id="foodpref">
          <h3 style="line-height:5px; margin-left:5px">What food do you like?</h3>

          <table>
             <tr>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="American" /></td>
               <td width="100px">American</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Italian" /></td>
               <td width="110px">Italian</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Western-European" /></td>
               <td>Western-European</td>
             </tr>
             <tr>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Asian" /></td>
               <td>Asian</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Mediterranean" /></td>
               <td>Mediterranean</td>
               <td></td>
             </tr>
          </table>
         </div>
               
          <div id="contact">
          <table>
             <tr>
              <td>
                <h3 style="line-height:5px; margin-left:5px">Email</h3>
                <p style="text-align:center; font-size:11px"><input type="text" placeholder="Your Email" name="email" id="email" size="30"><br/>We hate spam too, we'll just send you the recommendations you sign up for.<p>
              </td>
              <td>
                 <input type="submit" value="SIGN UP" class="button_orange" style="margin-left:55px"/>
              </td>
            </tr>
          </table>
         </div>

       </div>


       <div id="map">
          <h3>Where would you go for dinner?</h3>
          <div id="area1">
             <div id="active-area" class="visible"><img src="/images/areas/area1.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/areas/area1-mo.png" /></div>
             <div id="delete-area" class="invisible"><img src="images/error-icon.png" /></div>
             <div id="add-area" class="invisible"><img src="images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="1" style="visibility:hidden"/>
          </div>
          <div id="area2">
             <div id="active-area" class="visible"><img src="/images/areas/area2.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/areas/area2-mo.png" /></div>
             <div id="delete-area" class="invisible"><img src="images/error-icon.png" /></div>
             <div id="add-area" class="invisible"><img src="images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="2" style="visibility:hidden"/>
          </div>
          <div id="area3">
             <div id="active-area" class="visible"><img src="/images/areas/area3.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/areas/area3-mo.png" /></div>
             <div id="delete-area" class="invisible"><img src="images/error-icon.png" /></div>
             <div id="add-area" class="invisible"><img src="images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="3" style="visibility:hidden"/>
          </div>
          <div id="area4">
             <div id="active-area" class="visible"><img src="/images/areas/area4.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/areas/area4-mo.png" /></div>
             <div id="delete-area" class="invisible"><img src="images/error-icon.png" /></div>
             <div id="add-area" class="invisible"><img src="images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="4" style="visibility:hidden"/>
          </div>
          <div id="area5">
             <div id="active-area" class="visible"><img src="/images/areas/area5.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/areas/area5-mo.png" /></div>
             <div id="delete-area" class="invisible"><img src="images/error-icon.png" /></div>
             <div id="add-area" class="invisible"><img src="images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="5" style="visibility:hidden"/>
          </div>

          <div id="map-explanation">
             <div id="neigborhood-none">Hover over an area to see what neighborhoods it includes</div>
             <div id="neigborhood-1" class="invisible">bla 1</div>
             <div id="neigborhood-2" class="invisible">bla 2</div>
             <div id="neigborhood-3" class="invisible">bla 3</div>
             <div id="neigborhood-4" class="invisible">bla 4</div>
             <div id="neigborhood-5" class="invisible">bla 5</div>
          </div>

       </div>
    
       <div style="visibility:hidden">
           <strong>City</strong><select name="city" id="city"><option value="New York City">New York City</option></select>
       </div>
    
    </form>
    </div>
	
{% endblock %}

{% block testimonials %}
            <br/><h2>What are our users saying?</h2>
            <table style="margin-left:25px; border:0; text-align:justify; width:750px;">
                <tr style="margin-right:10px">
                    <td style="width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td  style="width:385px; text-align:justify; span:20px; margin:10px;">“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                    <td width=60><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width=:385px; text-align:justify; span:20px; margin:10px;">“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td style=" width:385px; text-align:justify; span:20px; margin:10px;" >“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                    <td width=100><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width:385px; text-align:justify; span:20px; margin:10px;" >“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                </tr>
            </table>
{% endblock %}

{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td><a style="color:black;" href="aboutus">About Us<a>
        </td>
        <td><a style="color:black;" href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
</body>
