<!-- ADD REQUIRED FIELDS -->

{% extends 'base.html' %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>

var i = 0;

$(function() {
    addDiv1 = $('div#button_orange');
    addDiv2 = $('div#button_green');
    surprise = $('<div id="surprise"><img src="images/waiter.png" style="position: absolute; margin-left: 20px" /><table align="right"><tr><td width="400px"><p style="font-size: 14px"><strong>Excellent choice!</strong></p><p>You will receive monthly recommendations for various kinds of restaurants that are trending in New York City.</p><p>Please allow me to register your e-mail address:</p></td></tr><tr><td><p><input type="text" placeholder="name@domain.com" name="email" id="email"><input type="submit" value="Subscribe" style="margin-left:10px" /></p></td></tr></table></div>');
    picky = $('<div id="picky"><img src="images/waiter.png" style="position: absolute; margin-left: 20px" /><table align="right">{% for food in food|dictsort:"name" %}{% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}<td width="15px"><input type="checkbox" name="food" id="food" value="{{ food.name }}" /></td><td width="110px">{{ food.name }}</td>{% if forloop.counter|divisibleby:3 %}</tr>{% endif %}{% endfor %}<tr><td colspan="6" style="text-align:center"><br/><p><strong>Email </strong><input type="text" placeholder="name@domain.com" name="email" id="email" style="margin-left:20px"><input type="submit" value="Subscribe" style="margin-left:10px" /></p></td></tr></table></div>');

    addDiv1.click(function() {
        if(i === 0) {
            surprise.fadeIn("slow").appendTo('#step2');
            $('div#explanation').remove();
            i = 1;
        }
        if(i === 2) {
            surprise.fadeIn("slow").appendTo('#step2');
            $('div#picky').remove();
            i = 1;
        }
    });  

    addDiv2.click(function() {
        if(i === 0) {
            picky.fadeIn("slow").appendTo('#step2');
            $('div#explanation').remove();            
            i = 2;
        }
        if(i === 1) {
            picky.fadeIn("slow").appendTo('#step2');
            $('div#surprise').remove();            
            i = 2;
        }
    });

});
</script>
{% endblock %}

{% block content %}

      <div id="explanation"><table>
            <tr>
                <td style="text-align:center" width="250px"><img src="images/one.png" /></td>
                <td style="text-align:center" width="250px"><img src="images/two.png" /></td>
                <td style="text-align:center" width="250px"><img src="images/three.png" /></td>
            </tr>
            <tr>
                <td><p style="line-height: 20px; margin-top:-30px; text-align:center; font-size: 14px"><strong>1. Let us know what kind of food you like</strong></p></td>
                <td><p style="line-height: 20px; margin-top:-30px; text-align:center; font-size: 14px"><strong>2. Receive monthly recommendations</strong></p></td>
                <td><p style="line-height: 20px; margin-top:-30px; text-align:center; font-size: 14px"><strong>3. Save money on your dinner</strong></p></td>
            </tr>
        </table>
    </div>

    <div id="signup">
    <form method="post" action="/signup">

       <div id="signup_right" style="float:right">
                  <div id="contact">
          <h2 style="line-height:5px; margin-left:5px">Email</h2>
          <p style="font: 11px cursive; text-align:center"><input type="text" placeholder="Your Email" name="email" id="email" size="30"><br/>We hate spam too, we'll just send you the recommendations you sign up for.<p>
          <p style="text-align:center"><input type="submit" value="SIGN UP" class="button_orange"/></p>
         </div>

         <div id="foodpref">
          <h2 style="line-height:5px; margin-left:5px">Food preferences</h2>

          <table>
             <tr>
               <td width="125px">American</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="American" /></td>
             </tr>
             <tr>
               <td>Asian</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Asian" /></td>
             </tr>
             <tr>
               <td>Italian</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Italian" /></td>
             </tr>
             <tr>
               <td>Mediterranean</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Mediterranean" /></td>
             </tr>
             <tr>
               <td>Western-European</td>
               <td><input type="checkbox" checked="checked" name="food" id="food" value="Western-European" /></td>
             </tr>
          </table>

         </div>


       </div>


       <div id="area">
          <h2>Pick your areas of interest</h2>
          <img src="images/area1.png" /><br/>
          <img src="images/area2.png" style="margin-top:-4px"/><br/>
          <img src="images/area3.png" style="margin-top:-4px"/><br/>
          <img src="images/area4.png" style="margin-top:-4px"/><br/>
          <img src="images/area5.png" style="margin-top:-4px"/>
       </div>
    
       <div style="visibility:hidden">
           <strong>City</strong><select name="city" id="city"><option value="New York City">New York City</option></select>
       </div>
    
    </form>
    </div>
	
{% endblock %}

{% block testimonials %}
<div class="span10 main-content">
    <div class="content">
      </div>
      <div class="row">
        <div class="span5">
          <div class="textcontent">
            <h2>Testimonials in Manhattan</h2>
            <table style="margin-left:25px; border:0; text-align:justify;">
                <tr style="margin-right:10px">
                    <td width=60><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td  style="width=250px; text-align:justify; span:20px; margin:10px;">“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                    <td width=60><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width=250px; text-align:justify; span:20px; margin:10px;">“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:60px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td style=" width=250px; text-align:justify; span:20px; margin:10px;" >“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                    <td width=100><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="text-align:250px; text-align:justify; span:20px; margin:10px;" >“Using the service every week to get a great restaurant I can afford. Always nice to discover new quality places and having some money left!”</td>
                </tr>
            </table>
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /content -->

{% endblock %}

{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="privacy">Privacy</a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
</body>
