<!-- ADD REQUIRED FIELDS -->

{% extends 'base.html' %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>

$(function() {

    function showMapInfo (element) {
        $('div#neigborhood-none').attr('class', 'invisible');
        if($(element).attr('id') == 'area1') {
          $('div#neigborhood-1').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area2') {
          $('div#neigborhood-2').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area3') {
          $('div#neigborhood-3').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area4') {
          $('div#neigborhood-4').attr('class', 'visible');
        }
        if($(element).attr('id') == 'area5') {
          $('div#neigborhood-5').attr('class', 'visible');
        } 
        if($(element).attr('id') == 'area6') {
          $('div#neigborhood-6').attr('class', 'visible');
        } 
        if($(element).attr('id') == 'area7') {
          $('div#neigborhood-7').attr('class', 'visible');
        } 
    }

    function hideMapInfo (element) {
        $('div#neigborhood-none').attr('class', 'visible');
        if($(element).attr('id') == 'area1') {
          $('div#neigborhood-1').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area2') {
          $('div#neigborhood-2').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area3') {
          $('div#neigborhood-3').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area4') {
          $('div#neigborhood-4').attr('class', 'invisible');
        }
        if($(element).attr('id') == 'area5') {
          $('div#neigborhood-5').attr('class', 'invisible');
        } 
        if($(element).attr('id') == 'area6') {
          $('div#neigborhood-6').attr('class', 'invisible');
        } 
        if($(element).attr('id') == 'area7') {
          $('div#neigborhood-7').attr('class', 'invisible');
        }         
    }    

    $("div[id^='area']").mouseenter(function() {
      if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find($('div#delete-area')).attr('class', 'visible');
        $(this).find($('div#active-area')).attr('class', 'invisible');
        showMapInfo($(this));                     
      }
      else {
        $(this).find($('div#add-area')).attr('class', 'visible');
        $(this).find($('div#inactive-area')).attr('class', 'invisible');
        showMapInfo($(this));
      }
    });

    $("div[id^='area']").mouseleave(function() {
     if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find($('div#delete-area')).attr('class', 'invisible');
        $(this).find($('div#active-area')).attr('class', 'visible');
        hideMapInfo($(this));
      }
      else {
        $(this).find($('div#add-area')).attr('class', 'invisible');
        $(this).find($('div#inactive-area')).attr('class', 'visible');
        hideMapInfo($(this));
      }
    });

    $("div[id^='area']").click(function() {
      if($(this).find('.hiddenCheck').attr('checked') == 'checked') {
        $(this).find('.hiddenCheck').removeAttr('checked');
        $(this).find($('div#delete-area')).attr('class', 'invisible');
        $(this).find($('div#active-area')).attr('class', 'invisible');
        $(this).find($('div#add-area')).attr('class', 'visible');
      }
      else {
        $(this).find('.hiddenCheck').attr('checked', 'checked');
        $(this).find($('div#add-area')).attr('class', 'invisible');
        $(this).find($('div#inactive-area')).attr('class', 'invisible'); 
        $(this).find($('div#delete-area')).attr('class', 'visible');       
      }
    });

    $("[class^='food']").mouseenter(function() {
        $('div#food-none').attr('class', 'invisible');
        $('div#' + $(this).attr('class')).attr('class', 'visible');
    });

    $("[class^='food']").mouseleave(function() {
        $('div#food-none').attr('class', 'visible');      
        $('div#' + $(this).attr('class')).attr('class', 'invisible');
    });

});
</script>
{% endblock %}

{% block content %}
    <form method="post" action="/signup">
    <div id="signup">
       <div id="signup-top"><h2>Sign up for your own personalized restaurant recommendations<h2></div>
       
       <div id="signup_right" style="float:right">
          <div id="foodpref">
          <h3 style="line-height:5px; margin-left:5px">What food do you like?</h3>

          <table>
             <tr>
               <td class="food-american"><input type="checkbox" checked="checked" name="food" id="food" value="American" /></td>
               <td width="115px" class="food-american">American</td>
               <td class="food-asian"><input type="checkbox" checked="checked" name="food" id="food" value="Asian" /></td>
               <td class="food-asian">Asian</td>
               <td rowspan="3">         
                 <div id="food-explanation">
                   <div id="food-none" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content" style="text-align: center">Hover over a food type to see a more detailed explanation</p></div>
                   <div id="food-american" class="invisible" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content" ><strong>American</strong><br/>American, Barbeque, Burgers, Cheesesteaks</p></div>
                   <div id="food-asian" class="invisible" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content"  ><strong>Asian</strong><br/>Chinese, Indian, Japanese, Sushi, Thai, and many more</p></div>
                   <div id="food-italian" class="invisible" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content"  ><strong>Italian</strong><br/>Italian, Pasta, Pizza</p></div>
                   <div id="food-mediterranean" class="invisible" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content"  ><strong>Mediterranean</strong><br/>Greek, Portuguese, Spanish, Tapas</p></div>
                   <div id="food-westerneuropean" class="invisible" style="position:absolute; top: 0px; left: 0px"><p class="explanation-content"><strong>Western-European</strong><br/>British, French, Irish, and many more</p></div>
                 </div>
               </td>
               
             </tr>
             <tr>
               <td class="food-italian"><input type="checkbox" checked="checked" name="food" id="food" value="Italian" /></td>
               <td class="food-italian">Italian</td>
               <td class="food-mediterranean"><input type="checkbox" checked="checked" name="food" id="food" value="Mediterranean" /></td>
               <td class="food-mediterranean">Mediterranean</td>
             </tr>
             <tr>
               <td class="food-westerneuropean"><input type="checkbox" checked="checked" name="food" id="food" value="Western-European" /></td>
               <td class="food-westerneuropean" colspan="2">Western-European</td>
               <td></td>
             </tr>
          </table>
         </div>
               
          <div id="contact">
          <table>
             <tr>
              <td>
                <h3 style="line-height:5px; margin-left:5px">Email</h3>
                <p style="text-align:left; font-size:11px"><input type="text" placeholder="Your Email" name="email" id="email" size="30"><br/>We hate spam too, we'll just send you the recommendations you sign up for.<p>
              </td>
              <td>
                 <input type="submit" value="SIGN UP" class="button_orange" style="margin-left:55px"/>
              </td>
            </tr>
          </table>
         </div>

       </div>


       <div id="map">
          <h3>Where would you go for dinner?</h3>
          <div id="manhattan">
          <div id="area1">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="1" style="visibility:hidden"/>
          </div>
          <div id="area3">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="3" style="visibility:hidden"/>
          </div>
          <div id="area2">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="2" style="visibility:hidden"/>
          </div>
          <div id="area4">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="4" style="visibility:hidden"/>
          </div>
          <div id="area6">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="6" style="visibility:hidden"/>
          </div>
          <div id="area5">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="5" style="visibility:hidden"/>
          </div>
          <div id="area7">
             <div id="active-area" class="visible"><img src="/images/check.png" /></div>
             <div id="inactive-area" class="invisible"><img src="/images/inactive.png" /></div>
             <div id="delete-area" class="invisible"><img src="/images/error-icon2.png" /></div>
             <div id="add-area" class="invisible"><img src="/images/plus-icon.png" /></div>
             <input type="checkbox" checked="checked" name="area" id="area" class="hiddenCheck" value="7" style="visibility:hidden"/>
          </div>
          </div>

          <div id="map-explanation">
             <div id="neigborhood-none"><p style="text-align: center; font-style: italic">By default all areas are activated.</p><p style="text-align: center; font-style: italic">Hover over an area to see the neighborhoods it includes.</p></div>
             <div id="neigborhood-1" class="invisible"><p class="explanation-title">Uptown</p><p class="explanation-content">- Colubmia University<br/>- Harlem</p></div>
             <div id="neigborhood-2" class="invisible"><p class="explanation-title">Upper West Side</p><p class="explanation-content">- Lincoln Center<br/>- Upper West Side</p></div>
             <div id="neigborhood-3" class="invisible"><p class="explanation-title">Upper East Side</p><p class="explanation-content">- Upper East Side</p></div>
             <div id="neigborhood-4" class="invisible"><p class="explanation-title">Midtown</p><p class="explanation-content">- Chelsea<br/>- Gramercy Park<br/>- Hell's Kitchen<br/>- Murray Hill<br/>- Union Square</p></div>
             <div id="neigborhood-5" class="invisible"><p class="explanation-title">Down West</p><p class="explanation-content">- Greenwich<br/>- Soho<br/>- TriBeCa<br/>- West Village</p></div>
             <div id="neigborhood-6" class="invisible"><p class="explanation-title">Down East</p><p class="explanation-content">- East Village<br/>- Lower East Side</p></div>
             <div id="neigborhood-7" class="invisible"><p class="explanation-title">Downtown</p><p class="explanation-content">- Battery Park<br/>- Chinatown<br/>- Financial District<br/>- Little Italy</p></div>
          </div>

       </div>
    
       <div style="visibility:hidden">
           <strong>City</strong><select name="city" id="city"><option value="New York City">New York City</option></select>
       </div>
    
    </div>
    </form>
	
{% endblock %}

{% block testimonials %}
            <br/><h2>What are our users saying?</h2>
            <table style="margin-left:25px; border:0; text-align:justify; width:750px;">
                <tr style="margin-right:10px">
                    <td style="width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td  style="width:385px; text-align:justify; span:20px; margin:10px;">“Your Dinner Deals just saves me so much time, not having to check all different kind of services and saves me also money, thank you!”</td>
                    <td width=60><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width=:385px; text-align:justify; span:20px; margin:10px;">“I'm using the service every week to get a good restaurant I can afford. Always nice to discover new good places and having some money left!”</td>
                </tr>
                <tr style="margin-left:10px">
                    <td style="margin-left:20px; width:120px;"><img src="../images/Tom.jpeg" alt="Testimonial Tom" >TOM, Tribeca </td>
                    <td style=" width:385px; text-align:justify; span:20px; margin:10px;" >“I discover great new places in areas I like going out, always at a discount”</td>
                    <td width=100><img src="../images/Tom.jpeg" alt="Testimonial Tom">TOM, Brooklyn</td>
                    <td style="width:385px; text-align:justify; span:20px; margin:10px;" >“I'm going out for dinner much more often thanks to great recommendations, never disapointed by the venues”</td>
                </tr>
            </table>
{% endblock %}

{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td><a style="color:black;" href="aboutus">About Us<a>
        </td>
        <td><a style="color:black;" href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
</body>
