{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<p style="margin-left:10px; font-style:Arial; font-size:16px">Your Dinner Deals - Terms & Conditions</p>
<p style="margin-left:5px;">

</br>
</br>
This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. Information we may collect from you.</br></br>

We may collect and process the following data about you:</br>
- Information that you provide by filling in forms on our site www.yourdinnerdeals.com(our site). This includes information provided at the time of registering to use our site, subscribing to our service, posting material or requesting further services. We may also ask you for information when you report a problem with our site.</br>
- If you contact us, we may keep a record of that correspondence.</br>
- We may also ask you to complete surveys that we use for research purposes, although you do not have to respond to them.</br>
- Details of transactions you carry out through our site and of the fulfilment of your orders.</br>
- Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</br>
If you have questions concerning your account, please contact Customer Service. If you have questions concerning this Privacy Policy, including the treatment of your personal information and/or our use of cookies and other technologies, please contact us via email at vincent@yourdinnerdeals.com

{% endblock %}
{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}