{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<p style="margin-left:10px; font-style:Arial; font-size:16px">Your Dinner Deals - Terms & Conditions</p>
<p style="margin-left:5px;">

</br>
</br>
You just need an email address to subscribe to YDD

{% endblock %}
{% block bottommenu %}
<div id="bottom">
<table>
    <tr >
        <td style="color: #C0C0C0;"><a href="aboutus">About Us<a>
        </td>
        <td style="color: #C0C0C0;"><a href="terms">Terms & Privacy</a>
        </td>
    </tr>
</table>
</div>
{% endblock %}