{% extends 'base.html' %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>

</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
{% endblock %}

{% block content %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<p style="text-align:left; font-size:18px"><strong>You can now enjoy personnalized recommendations every week at a discount!</strong></p>
<BR/>
<p style="text-align:left"><strong>We have sent a confirmation email with your first dinner personal recommendation to <br/> {email} <br/>

</strong></p>
<p style="text-align:center"><strong></p>
<br/>

<br/>
<p style="text-align:center"><strong>Dinner is better when it's shared.<br/> Let your friends know that you signed up and go together
<div id="Footer_SocialBoxes">
<div class="fb-like" data-href="http://www.yourdinnerdeals.com" data-send="true" data-width="450" data-show-faces="true" data-font="verdana"></div><br/>
<br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.yourdinnerdeals.com" data-text="Get the best restaurant at a discount" data-via="yourdinnerdeals" data-size="large" data-hashtags="goodrestaurant">Tweet</a></br>
<a href="mailto:?subject=Hello, get on http://www.yourdinnerdeals.com to easily find every week the best restaurant you want at a discount" title="Share by Email"><img src="/images/mail.png"/></a>

</div>
	
		
{% endblock %}