{% extends 'base.html' %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>

</script>
{% endblock %}

{% block content %}
<br/>
<p style="text-align:center"><strong>Thank you for signing up!</strong></p>
<BR/>
<p style="text-align:center"><strong>You will receive our monthly recommendations per email</strong></p>
<p style="text-align:center"><strong>including deals that will save you money when you go there.</strong></p>
<br/>
<p style="text-align:center"><strong>Enjoy Your Dinner!</strong></p>
<br/>

	
		
{% endblock %}