<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>Your Dinner Deals</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">
<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35584757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body style='padding-left: 30px'> 
<div id="logo" ><a href="/"><img src="/images/logo3.png" style="border:0px; padding-left: 10px" height="90px" /></a></div>

<h1>{{ related_partner }}</h1>
<h2>{{ coupon.value }} at {{ coupon.restaurant_name }}<br/>{{ coupon.address_street }}, {{ coupon.address_city }}</h2><br/>

{% for restaurant in restaurants %}
<form method="post" action="/admin/link" >
<table>
<tr>
  <td><input type="checkbox" name="yelp_id" style="visibility:hidden" value="{{ restaurant.key.name }}" checked>
  <input type="checkbox" name="coupon_id" style="visibility:hidden" value="{{ coupon.key.name }}" checked>
  {{ restaurant.name }} - {{ restaurant.address_street }}, {{ restaurant.address_city }} [result from: {{ restaurant.last_update }}]</td>
  <td><button type="submit" >Link</button></td>
</tr>
</table>
</form>
{% endfor %}
<br/>
<a href="/admin/overview"><strong>No Match</strong></a>





</body> 
</html>